<mat-card>
  <img mat-card-image class="w-72" src="{{ product.image }}" alt="Product image" />
  <mat-card-header>
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle>
      <p class="truncate w-64">{{ product.description }}</p>
    </mat-card-subtitle>
    <mat-card-content>
      <ul>
        <li class="flex">
          <p class="w-3/5">Country:</p>
          <p>{{ product.country }}</p>
        </li>
        <li class="flex">
          <p class="w-3/5">State:</p>
          <p>{{ product.state }}</p>
        </li>
        <li class="flex">
          <p class="w-3/5">Seller:</p>
          <p>{{ product.seller }}</p>
        </li>
      </ul>
    </mat-card-content>
  </mat-card-header>
  <mat-card-actions>
    <app-price
      [priceAfterDiscount]="priceWithDiscount"
      [priceWithoutDiscount]="product.discount ? product.price : 0"
    ></app-price>
    <app-primary-button class="m-4" [text]="'Product Detail'"></app-primary-button>
    <app-wishlist-button></app-wishlist-button>
  </mat-card-actions>
</mat-card>
