<div [formGroup]="form">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>{{ formItem.label }}</mat-label>
    @if (formItem.id === 'password' || formItem.id === 'confirmPassword') {
      <input matInput [formControlName]="formItem.id" [type]="hidePassword ? 'password' : 'text'" />
    } @else {
      <input matInput [formControlName]="formItem.id" />
    }
    @if (formItem.id === 'password' || formItem.id === 'confirmPassword') {
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="togglePassword($event)"
        class="px-4 flex"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    }
  </mat-form-field>
</div>
