<div>
  <ng-container [formGroup]="form">
    <ng-container [ngSwitch]="formItem.type">
      <!-- text input -->
      <div *ngSwitchCase="FormFieldTypeEnum.Text" class="form__field w-full mb-4">
        <app-text-input [form]="form" [formItem]="formItem"></app-text-input>
        @if (formItem.validators) {
        <app-dynamic-error [formItem]="form.get(formItem.id)"></app-dynamic-error>
        }
      </div>
      <!-- confirm password -->
      <div *ngSwitchCase="FormFieldTypeEnum.ConfirmPassword" class="form__field w-full mb-4">
        <app-text-input [form]="form" [formItem]="formItem"></app-text-input>
        <app-dynamic-error [formItem]="form.get(formItem.id)"></app-dynamic-error>
      </div>
      <!-- select -->
      <mat-form-field *ngSwitchCase="FormFieldTypeEnum.Select" class="form__field w-full">
        <mat-label>{{ formItem.label }}</mat-label>
        <mat-select formControlName="{{ formItem.id }}" multiple>
          <mat-select-trigger>
            {{ form.get(formItem.id)?.value[0]?.label || '' }}
            <span *ngIf="((form.get(formItem.id)?.value)!.length || 0) > 1">
              (+{{ (form.get(formItem.id)?.value?.length || 0) - 1 }}
              {{ form.get(formItem.id)?.value?.length === 2 ? 'other' : 'others' }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let menuOption of formItem.options" [value]="menuOption">{{
            menuOption.label
          }}</mat-option>
        </mat-select>
        @if (formItem.validators) {
        <app-dynamic-error [formItem]="form.get(formItem.id)"></app-dynamic-error>
        }
      </mat-form-field>
      <!-- checkbox -->
      <div *ngSwitchCase="FormFieldTypeEnum.Checkbox" class="form__field mb-8" [formGroupName]="formItem.id">
        <h4>{{ formItem.label }}:</h4>
        <ul class="max-h-80 overflow-auto">
          <li *ngFor="let item of formItem.options; let i = index">
            <p>
              <mat-checkbox color="primary" [formControlName]="i">
                @if(formItem.iconLabel) {
                <div class="flex">
                  @for (item of [].constructor(item.value); track $index) {
                  <li>
                    <mat-icon>{{ formItem.iconLabel }}</mat-icon>
                  </li>
                  }
                </div>
                } @else {
                {{ item.label }}
                }
              </mat-checkbox>
            </p>
          </li>
        </ul>
        @if (formItem.validators) {
        <app-dynamic-error [formItem]="form.get(formItem.id)"></app-dynamic-error>
        }
      </div>
      <!-- slider -->
      <div *ngSwitchCase="FormFieldTypeEnum.Slider" class="form__field mb-8">
        <app-slider [formItem]="formItem"></app-slider>
        @if (formItem.validators) {
        <app-dynamic-error [formItem]="form.get(formItem.id)"></app-dynamic-error>
        }
      </div>
    </ng-container>
  </ng-container>
</div>
