<div class="mb-12 mt-8">
  <h1>Products Page</h1>
</div>
<div class="flex justify-between">
  <div class="w-1/4">
    <app-dynamic-form [formConfig]="productsFilters" (formChange)="onFormChange($event)"></app-dynamic-form>
  </div>
  <div class="w-2/3">
    <div>
      <ul>
        @for (product of products; track product._id) {
        <li class="mb-6"><app-product-card [product]="product"></app-product-card></li>
        } @empty {
          <h2>Nothing found</h2>
        }
      </ul>
    </div>
  </div>
</div>
