<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
  <div>
    <img src="../../../assets/logo.svg" class="mx-auto mb-4" alt="logo" />
  </div>
  <div class="w-96 m-auto py-7 px-6 text-center border-gray-200 border rounded-md">
    <h2 class="text-green-600">Sign In</h2>
    <app-dynamic-form [formConfig]="signInFormConfig" (formSubmit)="onFormSubmit($event)"></app-dynamic-form>
    <div class="mt-4">
      <p class="text-right text-base text-sm">
        New customer? <a [routerLink]="'/sign-up'"><span class="text-green-600">Register.</span></a>
      </p>
    </div>
  </div>
  @if (errorApi) {<p class="py-4 text-base text-red-500">{{errorApi}}</p> }
</div>
