<footer>
  <div class="flex justify-between">
    <div>
      <p class="text-lg font-semibold pb-3">Get in touch</p>
      <ul class="text-green-600">
        <li class="mb-2">About us</li>
        <li class="mb-2">Careers</li>
      </ul>
    </div>
    <div>
      <p class="text-lg font-semibold pb-3">Connections</p>
      <ul class="text-green-600">
        <li class="mb-2">Facebook</li>
        <li class="mb-2">Twitter</li>
        <li class="mb-2">Instagram</li>
      </ul>
    </div>
    <div>
      <p class="text-lg font-semibold pb-3">Earnings</p>
      <ul class="text-green-600">
        <li class="mb-2">Sell on market</li>
        <li class="mb-2">Advertise your product</li>
        <li class="mb-2">Sell on Market</li>
      </ul>
    </div>
    <div>
      <p class="text-lg font-semibold pb-3">Account</p>
      <ul class="text-green-600">
        <li class="mb-2">Your account</li>
      </ul>
    </div>
  </div>
  <div class="my-6 text-xs">Copyright © 2020 petrbilek.com</div>
</footer>
